footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

footer h3 {
  padding-top: 2%;
  padding-bottom: 2%;
}

.pacifista-footer {
  background-color: #121212;
}

.pacifista-underfooter {
  background-color: #0f0f0f;
}

.pacifista-underfooter .container {
  padding-top: 10px;
  padding-bottom: 10px;
}
