<footer>
  <div class="pacifista-footer">
    <div class="container">
      <div class="row">

        <div class="col col-lg-3 align-self-center">
          <img ngSrc="assets/funix-logo-300.png" alt="FunixGaming Logo Image" height="300" width="300">
        </div>

        <div class="col-lg">
          <h3>A propos</h3>
          <p>
            Découvrez Funix, un créateur de contenu dynamique depuis 2015. Son voyage a débuté sur YouTube,
            s'est étendu au streaming sur Twitch en 2017, puis a évolué vers la création d'un serveur Minecraft en 2018.
            Son engagement passionné et son parcours riche en expériences l'ont aidé à grandir et à connecter avec une
            communauté enthousiaste. Funix continue de repousser les limites de la créativité en ligne,
            tout en anticipant avec enthousiasme les opportunités futures.
          </p>
        </div>

        <div class="col-lg">
          <h3>Me contacter</h3>

          <a href="https://discord.gg/3smswFCBky" rel="nofollow external" target="_blank">
            <div class="row">
              <div class="col-sm-1">
                <fa-icon [icon]="discordLogo"></fa-icon>
              </div>
              <div class="col-sm">
                <p>Discord</p>
              </div>
            </div>
          </a>

          <a href="https://x.com/funixgaming" rel="nofollow external" target="_blank">
            <div class="row">
              <div class="row">
                <div class="col-sm-1">
                  <fa-icon [icon]="twitterLogo"></fa-icon>
                </div>
                <div class="col-sm">
                  <p>Twitter</p>
                </div>
              </div>
            </div>
          </a>

          <a href="mailto:contact@funixproductions.com" rel="nofollow external">
            <div class="row">
              <div class="row">
                <div class="col-sm-1">
                  <fa-icon [icon]="mailLogo"></fa-icon>
                </div>
                <div class="col-sm">
                  <p>contact@funixproductions.com</p>
                </div>
              </div>
            </div>
          </a>

        </div>
      </div>
    </div>

    <div class="pacifista-underfooter">
      <div class="container">
        <div class="row align-content-center">
          <div class="col-md-10">
            <h4>
              FunixGaming - FunixProductions - Design par <a href="https://x.com/funixgaming" rel="nofollow external" target="_blank">Funix</a>
            </h4>
          </div>
          <div class="col-md">
            <h4>
              <a href="/cgv" rel="nofollow">CGV</a> | <a href="/cgu" rel="nofollow">CGU</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
