<nav data-bs-theme="dark" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img ngSrc="assets/funix-logo-50.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Twitch
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/twitch/levels">Viewers Exp</a></li>
          </ul>
        </li>
      </ul>

      <div class="d-flex funix-links">
        <a class="p-1" target="_blank" href="https://twitch.tv/funixgaming"><fa-icon [icon]="twitchLogo"></fa-icon></a>
        <a class="p-1" target="_blank" href="https://youtube.com/c/funixgaming"><fa-icon [icon]="youtubeLogo"></fa-icon></a>
        <a class="p-1" target="_blank" href="https://x.com/funixgaming"><fa-icon [icon]="twitterLogo"></fa-icon></a>
        <a class="p-1" target="_blank" href="https://instagram.com/funixgaming_"><fa-icon [icon]="instagramLogo"></fa-icon></a>
        <a class="p-1" target="_blank" href="https://discord.gg/0u58pdR1VzgnH5ZY"><fa-icon [icon]="discordLogo"></fa-icon></a>
        <a class="p-1" target="_blank" href="https://tiktok.com/@_funix"><fa-icon [icon]="tiktokLogo"></fa-icon></a>
      </div>
    </div>
  </div>
</nav>
