<div class="card bg-dark">
    <div>
        <h1>User {{userExp.twitchUserId}}</h1>
        <br>
        <h3>Level: {{userExp.level}}</h3>
        <h3>Exp: {{userExp.xp}}</h3>
        <h3>Exp until next level: {{userExp.xpNextLevel}}</h3>
        <h3>Level: {{userExp.level}}</h3>
        <h3>Last message on: {{userExp.lastMessageDateSeconds*1000 | date:'short'}}</h3>
        <h3>Created At: {{userExp.createdAt | date:'short'}}</h3>
        <h3 *ngIf="userExp.updatedAt">Updated At: {{userExp.updatedAt | date:'short'}}</h3>
    </div>
</div>
