.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0 0 0 1px rgba(20,20,31,.05), 0 1px 3px 0 rgba(20,20,31,.15);
    border: 1px solid;
    border-radius: 0.25rem;
    margin-bottom: 20px;
    width: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}