<div class="welcome-div text-center">
  <div class="row">
    <div class="col-12">
      <div class="welcome-text">
        <h1>FunixGaming</h1>
        <h2>Créateur de contenu multigaming</h2>
      </div>
    </div>

    <div class="col-12 socials-buttons">
      <div class="row align-content-between pt-5">
        <div class="col-md-2">
          <a href="https://twitch.tv/funixgaming" rel="nofollow external" target="_blank" class="btn btn-outline-light">
            <fa-icon [icon]="twitchLogo"></fa-icon>
          </a>
        </div>
        <div class="col-md-2">
          <a href="https://youtube.com/c/funixgaming" rel="nofollow external" target="_blank" class="btn btn-outline-light">
            <fa-icon [icon]="youtubeLogo"></fa-icon>
          </a>
        </div>
        <div class="col-md-2">
          <a href="https://x.com/funixgaming" rel="nofollow external" target="_blank" class="btn btn-outline-light">
            <fa-icon [icon]="twitterLogo"></fa-icon>
          </a>
        </div>
        <div class="col-md-2">
          <a href="https://instagram.com/funixgaming_" rel="nofollow external" target="_blank" class="btn btn-outline-light">
            <fa-icon [icon]="instagramLogo"></fa-icon>
          </a>
        </div>
        <div class="col-md-2">
          <a href="https://discord.gg/0u58pdR1VzgnH5ZY" rel="nofollow external" target="_blank" class="btn btn-outline-light">
            <fa-icon [icon]="discordLogo"></fa-icon>
          </a>
        </div>
        <div class="col-md-2">
          <a href="https://tiktok.com/@_funix" rel="nofollow external" target="_blank" class="btn btn-outline-light">
            <fa-icon [icon]="tiktokLogo"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
